@import '~antd/dist/antd.css';

.submit-form-button{
    width: 100%;
}
.click-video-link{
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
    display: block;
}
.show-video{
    max-width: 100%;
}

.switch-show-video-wrapper{
    margin-bottom: 10px;
}